.details__main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.details__container{
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    /* align-items: center; */
}
.details__head{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;

}
.back__btn{
    cursor: pointer;
    color: #B1B1B1;
    margin-right: 17vw;
}
.back__btn:hover{
    color: #287F9A;
}
.details__title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 66px;
    color: #000000;
    margin: 0px 0px 20px 0px;
}
.details__box{
    width: 100%;
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.40);
}
.details__box-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.details__add-button{
    width: 312px;
    margin: 0px 30px 0px 0px;
}
.details__box-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.details__box-text-title{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 10px;
}
.details__box-image-title img{
    width: 200px;
    height: 200px;
}
.details__box-text-title h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #000000;
    margin-bottom: 20px;
    
}
.details__box-text-title p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.details__box-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 0;
    list-style: none;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;

    color: #000000;
}
.details__box-description span{
    margin-left: 5px;
   
}
.details__box-description li{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1190.98px) {
    .back__btn{
        margin-right: 10vw;
    }
    .details__box-text-title h2{
        font-size: 32px;
        line-height: 40px;
    }
    
    

}
@media (max-width: 1050.98px) {
    .back__btn{
        margin-right: 12vw;
    }
    .details__box-text-title h2{
        font-size: 28px;
        line-height: 36px;
    }
    .details__container{
        width: 90vw;
    }
    
    

}

@media (max-width: 800.98px) {
    .details__box-text-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 0;
    }

    .details__box-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .details__box-description li{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .details__box-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    
    

}

@media (max-width: 600.98px) {
    .back__btn{
        margin-right: 5vw;
    }
    .details__title{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        color: #000000;
        margin: 0px 0px 20px 0px;
    }
    .details__box-buttons {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .details__box-buttons div{
        margin: 10px 0 ;
    }
    .details__add-button {
        width: 95%;
        margin: 0px ;
    }
    
    
    

}

@media (max-width: 500.98px) {
    .details__box-description{
        font-size: 16px;
        line-height: 34px;
    }
    .details__box {
        padding: 50px 15px;
    }
    .details__title{
        font-size: 26px;
        line-height: 26px;
        text-align: center;
    }
    
}

